

.cls-1,
.cls-148,
.cls-149,
.cls-150,
.cls-151,
.cls-152,
.cls-153,
.cls-154,
.cls-159,
.cls-4,
.cls-82 {
  fill: none;
}
.cls-2 {
  opacity: 0.5;
}
.cls-3 {
  clip-path: url(#clip-path);
}
.cls-4 {
  stroke: #404259;
}
.cls-136,
.cls-147,
.cls-148,
.cls-149,
.cls-150,
.cls-151,
.cls-152,
.cls-153,
.cls-154,
.cls-159,
.cls-4,
.cls-82 {
  stroke-miterlimit: 10;
}
.cls-4,
.cls-82 {
  stroke-width: 0.5px;
}
.cls-5 {
  clip-path: url(#clip-path-2);
}
.cls-6 {
  clip-path: url(#clip-path-3);
}
.cls-7 {
  clip-path: url(#clip-path-4);
}
.cls-8 {
  clip-path: url(#clip-path-5);
}
.cls-9 {
  clip-path: url(#clip-path-6);
}
.cls-10 {
  clip-path: url(#clip-path-7);
}
.cls-11 {
  clip-path: url(#clip-path-8);
}
.cls-12 {
  clip-path: url(#clip-path-9);
}
.cls-13 {
  clip-path: url(#clip-path-10);
}
.cls-14 {
  clip-path: url(#clip-path-11);
}
.cls-15 {
  clip-path: url(#clip-path-12);
}
.cls-16 {
  clip-path: url(#clip-path-13);
}
.cls-17 {
  clip-path: url(#clip-path-14);
}
.cls-18 {
  clip-path: url(#clip-path-15);
}
.cls-19 {
  clip-path: url(#clip-path-16);
}
.cls-20 {
  clip-path: url(#clip-path-17);
}
.cls-21 {
  clip-path: url(#clip-path-18);
}
.cls-22 {
  clip-path: url(#clip-path-19);
}
.cls-23 {
  clip-path: url(#clip-path-20);
}
.cls-24 {
  clip-path: url(#clip-path-21);
}
.cls-25 {
  clip-path: url(#clip-path-22);
}
.cls-26 {
  clip-path: url(#clip-path-23);
}
.cls-27 {
  clip-path: url(#clip-path-24);
}
.cls-28 {
  clip-path: url(#clip-path-25);
}
.cls-29 {
  clip-path: url(#clip-path-26);
}
.cls-30 {
  clip-path: url(#clip-path-27);
}
.cls-31 {
  clip-path: url(#clip-path-28);
}
.cls-32 {
  clip-path: url(#clip-path-29);
}
.cls-33 {
  clip-path: url(#clip-path-30);
}
.cls-34 {
  clip-path: url(#clip-path-31);
}
.cls-35 {
  clip-path: url(#clip-path-32);
}
.cls-36 {
  clip-path: url(#clip-path-33);
}
.cls-37 {
  clip-path: url(#clip-path-34);
}
.cls-38 {
  clip-path: url(#clip-path-35);
}
.cls-39 {
  clip-path: url(#clip-path-36);
}
.cls-40 {
  clip-path: url(#clip-path-37);
}
.cls-41 {
  clip-path: url(#clip-path-38);
}
.cls-42 {
  clip-path: url(#clip-path-39);
}
.cls-43 {
  clip-path: url(#clip-path-40);
}
.cls-44 {
  clip-path: url(#clip-path-41);
}
.cls-45 {
  clip-path: url(#clip-path-42);
}
.cls-46 {
  clip-path: url(#clip-path-43);
}
.cls-47 {
  clip-path: url(#clip-path-44);
}
.cls-48 {
  clip-path: url(#clip-path-45);
}
.cls-49 {
  clip-path: url(#clip-path-46);
}
.cls-50 {
  clip-path: url(#clip-path-47);
}
.cls-51 {
  clip-path: url(#clip-path-48);
}
.cls-52 {
  clip-path: url(#clip-path-49);
}
.cls-53 {
  clip-path: url(#clip-path-50);
}
.cls-54 {
  clip-path: url(#clip-path-51);
}
.cls-55 {
  clip-path: url(#clip-path-52);
}
.cls-56 {
  clip-path: url(#clip-path-53);
}
.cls-57 {
  clip-path: url(#clip-path-54);
}
.cls-58 {
  clip-path: url(#clip-path-55);
}
.cls-59 {
  clip-path: url(#clip-path-56);
}
.cls-60 {
  clip-path: url(#clip-path-57);
}
.cls-61 {
  clip-path: url(#clip-path-58);
}
.cls-62 {
  clip-path: url(#clip-path-59);
}
.cls-63 {
  clip-path: url(#clip-path-60);
}
.cls-64 {
  clip-path: url(#clip-path-61);
}
.cls-65 {
  clip-path: url(#clip-path-62);
}
.cls-66 {
  clip-path: url(#clip-path-63);
}
.cls-67 {
  clip-path: url(#clip-path-64);
}
.cls-68 {
  clip-path: url(#clip-path-65);
}
.cls-69 {
  clip-path: url(#clip-path-66);
}
.cls-70 {
  clip-path: url(#clip-path-67);
}
.cls-71 {
  clip-path: url(#clip-path-68);
}
.cls-72 {
  clip-path: url(#clip-path-69);
}
.cls-73 {
  clip-path: url(#clip-path-70);
}
.cls-74 {
  clip-path: url(#clip-path-71);
}
.cls-75 {
  clip-path: url(#clip-path-72);
}
.cls-76 {
  clip-path: url(#clip-path-73);
}
.cls-77 {
  clip-path: url(#clip-path-74);
}
.cls-78 {
  clip-path: url(#clip-path-75);
}
.cls-79 {
  clip-path: url(#clip-path-76);
}
.cls-80 {
  clip-path: url(#clip-path-77);
}
.cls-81 {
  clip-path: url(#clip-path-78);
}
.cls-136,
.cls-147,
.cls-159,
.cls-82 {
  stroke: #fff;
}
.cls-83 {
  clip-path: url(#clip-path-84);
}
.cls-84 {
  clip-path: url(#clip-path-85);
}
.cls-85 {
  clip-path: url(#clip-path-86);
}
.cls-86 {
  clip-path: url(#clip-path-87);
}
.cls-87 {
  clip-path: url(#clip-path-94);
}
.cls-88 {
  clip-path: url(#clip-path-95);
}
.cls-89 {
  clip-path: url(#clip-path-96);
}
.cls-90 {
  clip-path: url(#clip-path-97);
}
.cls-91 {
  clip-path: url(#clip-path-98);
}
.cls-92 {
  clip-path: url(#clip-path-99);
}
.cls-93 {
  clip-path: url(#clip-path-100);
}
.cls-94 {
  clip-path: url(#clip-path-104);
}
.cls-95 {
  opacity: 0.7;
}
.cls-96 {
  clip-path: url(#clip-path-106);
}
.cls-97 {
  clip-path: url(#clip-path-108);
}
.cls-98 {
  clip-path: url(#clip-path-109);
}
.cls-99 {
  clip-path: url(#clip-path-114);
}
.cls-100 {
  clip-path: url(#clip-path-115);
}
.cls-101 {
  clip-path: url(#clip-path-116);
}
.cls-102 {
  clip-path: url(#clip-path-117);
}
.cls-103 {
  clip-path: url(#clip-path-123);
}
.cls-104 {
  clip-path: url(#clip-path-124);
}
.cls-105 {
  clip-path: url(#clip-path-126);
}
.cls-106 {
  clip-path: url(#clip-path-131);
}
.cls-107 {
  clip-path: url(#clip-path-134);
}
.cls-108 {
  clip-path: url(#clip-path-137);
}
.cls-109 {
  clip-path: url(#clip-path-139);
}
.cls-110 {
  clip-path: url(#clip-path-145);
}
.cls-111 {
  clip-path: url(#clip-path-149);
}
.cls-112 {
  clip-path: url(#clip-path-151);
}
.cls-113 {
  clip-path: url(#clip-path-152);
}
.cls-114 {
  clip-path: url(#clip-path-153);
}
.cls-115 {
  clip-path: url(#clip-path-155);
}
.cls-116 {
  clip-path: url(#clip-path-162);
}
.cls-117 {
  clip-path: url(#clip-path-163);
}
.cls-118 {
  clip-path: url(#clip-path-165);
}
.cls-119 {
  clip-path: url(#clip-path-166);
}
.cls-120 {
  clip-path: url(#clip-path-167);
}
.cls-121 {
  clip-path: url(#clip-path-171);
}
.cls-122 {
  clip-path: url(#clip-path-172);
}
.cls-123 {
  clip-path: url(#clip-path-173);
}
.cls-124 {
  opacity: 0.1;
}
.cls-125 {
  clip-path: url(#clip-path-174);
}
.cls-126,
.cls-136 {
  fill: #848096;
}
.cls-127 {
  clip-path: url(#clip-path-175);
}
.cls-128 {
  clip-path: url(#clip-path-176);
}
.cls-129 {
  clip-path: url(#clip-path-177);
}
.cls-130 {
  clip-path: url(#clip-path-178);
}
.cls-131 {
  clip-path: url(#clip-path-179);
}
.cls-132 {
  clip-path: url(#clip-path-180);
}
.cls-133 {
  clip-path: url(#clip-path-181);
}
.cls-134 {
  clip-path: url(#clip-path-182);
}
.cls-135 {
  clip-path: url(#clip-path-183);
}
.cls-137 {
  clip-path: url(#clip-path-184);
}
.cls-138 {
  clip-path: url(#clip-path-185);
}
.cls-139 {
  clip-path: url(#clip-path-186);
}
.cls-140 {
  clip-path: url(#clip-path-187);
}
.cls-141 {
  clip-path: url(#clip-path-188);
}
.cls-142 {
  clip-path: url(#clip-path-189);
}
.cls-143 {
  clip-path: url(#clip-path-190);
}
.cls-144 {
  clip-path: url(#clip-path-191);
}
.cls-145 {
  clip-path: url(#clip-path-193);
}
.cls-146 {
  fill: #576d9c;
}
.cls-147 {
  fill: #606060;
  stroke-width: 2px;
}
.cls-148 {
  stroke: #242e3d;
}
.cls-149 {
  stroke: #303d4f;
  stroke-width: 12px;
  stroke-dasharray: 1 6.01;
}
.cls-150,
.cls-151,
.cls-152,
.cls-153,
.cls-154 {
  stroke: #606060;
  stroke-width: 4px;
}
.cls-151 {
  stroke-dasharray: 11.95 11.95;
}
.cls-152 {
  stroke-dasharray: 12.14 12.14;
}
.cls-153 {
  stroke-dasharray: 12.32 12.32;
}
.cls-154 {
  stroke-dasharray: 12.09 12.09;
}
.cls-155 {
  clip-path: url(#clip-path-196);
}
.cls-156 {
  clip-path: url(#clip-path-197);
}
.cls-157 {
  opacity: 0.4;
}
.cls-158 {
  fill: #95c9b0;
}
.cls-159 {
  stroke-width: 0.4px;
}
